@model Site6.Models.Post
@{
    ViewBag.Title = "Home Page";
}
<div style="background-color: rgba(60, 50, 200, 0.2); padding: 3px; margin: 5px;">
    <h2>@Model.Name</h2>
    <p>@Model.Text</p>
    <p>Добавлено: @Model.Date </p>
    @Html.ActionLink("Читать другие статьи", "PostsView")
</div>
@*
    <div class="float-right">
        @Html.Partial("Lasts")
    </div>
*@