@model Site6.Controllers.HomeController.Three
        <h3>Последние блоги</h3>
        <ul>
        @foreach (var item in Model.PostList){
            <li>
                @Html.ActionLink(@item.Name, "PostView", "Home", new { Id = @item.Id }, null)
            </li>
        }
        </ul>
        <br />
        <h3>Последние сообщения</h3>
        @foreach (var item in Model.CommentList){
            <li>
            @if (item.Text.Length > 15){
                @Html.ActionLink(@String.Concat(@item.Text.Take(15)) + "...", "PostView", "Home", new { Id = @item.PostId }, null)
            } else {
                @Html.ActionLink(@item.Text, "PostView", "Home", new { Id = @item.PostId }, null)
            }
            </li>
        }