@model Site6.Models.Comment
@{
    ViewBag.Title = "Пост";
}
<div style ="background-color: rgba(60, 50, 200, 0.2); padding: 10px; margin: 5px;">
    <h1 style="margin:0px;">@ViewBag.Post.Name</h1>
    <div style="padding: 10px;">
        <p>@ViewBag.Post.Text</p>
        <p>Добавлено: @ViewBag.Post.Date </p>
    </div>
</div>
<div style="background-color: rgba(60, 50, 200, 0.2); padding: 3px; margin: 5px;">
    @if (User.Identity.IsAuthenticated)
    {
        using (Html.BeginForm("AddComment", "Home", FormMethod.Post))
        {
            <fieldset>
                <legend>Добавить запись</legend>
                <input name="PostId" value="@ViewBag.Post.Id" hidden>
                <p>
                    @Html.LabelFor(Model => Model.Text)<br />
                    @Html.TextAreaFor(Model => Model.Text)
                </p>
                <br />
                <input type="submit" value="Отправить" />
            </fieldset>
        }
    }
    @foreach (var item in @ViewBag.Post.Comment)
    {
        <div style="background-color: rgba(60, 50, 200, 0.2); padding: 3px; margin: 5px;">
            <p>@item.Text</p>

            <p>Добавил(а) <b>@item.UserName</b>. Дата: @item.Date</p>
            @if (User.Identity.Name.Equals("Admin") || User.Identity.Name.Equals(item.UserName))
            {
                @Html.ActionLink("Delete", "DeleteComment", new { Id = item.Id })
            }
        </div>
    }
</div>
