@model Site6.Controllers.HomeController.myclass
@*@model Site6.Models.Post*@
@using PagedList.Mvc
@{
    ViewBag.Title = "PostsView";
}
<link href="@Url.Content("/Content/PagedList.css")" rel="stylesheet" type="text/css" />

    @using (Html.BeginForm())
    {
        <div class="float-right">
            <p>
                Find by name: @Html.TextBox("SearchString")
                <input type="submit" value="Search" />
            </p>
        </div>
    }

<h3>Все записи</h3>
@if (User.Identity.Name == "Admin")
{
    using (Html.BeginForm("AddPost", "Home", FormMethod.Post))
    {
        <fieldset>
            <legend>Добавить запись</legend>
            <p>
                @Html.LabelFor(m => m.PostModel.Name)
                @Html.TextBoxFor(m => m.PostModel.Name)
                <br />
                @Html.LabelFor(m => m.PostModel.Text)
                @Html.TextAreaFor(m => m.PostModel.Text)
            </p>
            <input type="submit" value="Отправить" />
        </fieldset>
    }
}
@Html.Partial("PostPost")

@foreach (var item in Model.PostPagedList)
{
    <div style="background-color: rgba(60, 50, 200, 0.2); padding: 3px; margin: 5px;">
        @Html.ActionLink(item.Name, "PostView", new { Id = @item.Id }, new{style = "font-size: xx-large;"})
        
        @if (User.Identity.Name == "Admin")
        {
            @Html.ActionLink("Delete", "DeletePost", new { Id = @item.Id })
        }

        <p>Добавлено: @item.Date</p>
    </div>
}
@if (Model.PostList.Count() > 9) { 
<div style="text-align: center;">
        @Html.PagedListPager(Model.PostPagedList, page => Url.Action("PostsView", new { page }),
            new PagedListRenderOptions
            {
                LinkToFirstPageFormat = "<<",
                LinkToPreviousPageFormat = "Назад",
                LinkToNextPageFormat = "Вперед",
                LinkToLastPageFormat = ">>"
            })
</div>
}